*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-image: url(img/kevin-zhang-dzFB8xeWg1M-unsplash.jpg);
    background-size: cover;

}

/* Navbar */
nav{
    display: flex;
    background-color:whitesmoke ;
    justify-content: space-around;
    /* padding: 20px 0;    */
    color: black;
    height: 60px;
    align-items: center;
}
nav .logo{
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
}
nav ul li a{
    color: black;
    text-decoration: none;
    
}
/* End Navbar */

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    /* background-color: white; */
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}



/* Headline */
.headline{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 22%;

}
.headline h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    /* text-shadow: 2px 2px 2px black; */
    text-align: left;
    font-size: 50px;
}
.headline-content{
    position: absolute;
    transform: translate(-50%, -50%);
    top:75%;
    left: 27.5%;
}
.headline-content p{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    text-align: left;
}


/* Responsive Moment */

@media screen and (max-width:992px){
    nav ul{
        width: 40%;
    }
}

/* Ukuran Tablet */
@media screen and (max-width:768px){
    nav ul{
        width: 40%;
    }
}
/* Ukuran Mobile */
@media screen and (max-width:576px){
    .menu-toggle{
        display: flex;
    }
    nav ul{
       position: absolute;
       right: 0;
       top: 0;
       height: 100vh;
       width: 80%;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       background-color: whitesmoke;

       z-index: -1;
       transform: translateX(100%);
       transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0%);
    }

}