*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {/* WebKit */
    width: 0;
    height: 0;
}

/* Navbar */
nav{
    display: flex;
    background-color:whitesmoke ;
    justify-content: space-around;
    /* padding: 20px 0;    */
    color: black;
    height: 60px;
    align-items: center;
}
nav .logo{
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
    letter-spacing: 2px;
}
nav .logo span{
    color:red;
}
nav ul{
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
}
nav ul li a{
    color: black;
    text-decoration: none;
    position: relative;
    
}
nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-out;
}

nav ul li a:hover::before {
    width: 100%;
    
}
/* End Navbar */

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    /* background-color: white; */
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: black;
    transform: rotate(-45deg) translate(-1px,0px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}



/* Headline */
.beranda{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 93vh;
    
}   
.background-beranda{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(img/kevin-zhang-dzFB8xeWg1M-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}    

.headline {
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 20px;
    left: 10em;
    top: 28em;
    color: white;
}

.headline h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
}

.headline-content {
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 30px;
    left: 10em;
    top: 25em;
    color: white;
    
}

.headline-content p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
}
/* Animation line slide */
.headline-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-out;
  }
  .headline-content:hover::before {
    width: 30%;
  }
/* end animation */

/* End headline */


/* Bagian pesan tour */
.tiket{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tiket .kolom{
    flex: 1;
    margin-right: 20px;
}
.tiket .deskripsi{
    font-size: 20px;
}
.tiket h1{
    font-size: 30px;
    margin-top: 10px;
}
.tiket img{
    width: 550px;
    height: 350px;
}
.tiket a{
    background: pink;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
p{
    margin: 10px 0px 10px 0px;
    padding: 1px 0px 10px 0px;
}


/* End Bagian pesan tour */




/* Footer Start */
footer{
    background-color: whitesmoke;
    padding: 17px 0;
    text-align: center;
}
.footer{
    max-width: 960px;
    margin: 0 auto;
}
footer p{
    margin: 0;
}
/* Footers End */
/* Responsive Moment */

@media screen and (max-width:992px){
    nav ul{
        width: 40%;
    }
    .headline{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 62%;
        left: 19%;
    
    }
    .headline h1{
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        /* text-shadow: 2px 2px 2px black; */
        text-align: left;
        font-size: 22px;
    }
    .headline-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 34%;
    }
    .headline-content p{
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 10px;
        text-align: left;
    }
    /* Line dibawah content */
    .headline-content::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 30px;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-out;
      }
      .headline-content:hover::after{
        width: 30%;
      }
}

/* Ukuran Tablet */
@media screen and (max-width:768px){
   
   /* Navbar */
    nav ul{
        width: 40%;
    }
    /* Navbar Ends */
    /* Headline and Content */
    .headline{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 33%;
        left: 23%;
    
    }
    .headline h1{
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        text-align: left;
        font-size: 20px;
    }
    .headline-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 39%;
        left: 37%;
    }
    .headline-content p{
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 7px;
        text-align: left;
    }
    /* Line dibawah content */
    .headline-content::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 30px;
        width: 30%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-out;
      }

    /* Ends Headline content */
    /* Line */
  
    /* Background img */
    .background-beranda{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50%;
        background-image: url(img/kevin-zhang-dzFB8xeWg1M-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Background Img Ends */
}
/* Ukuran Mobile */
@media screen and (max-width:576px){
    
    /* NavBar */
    .menu-toggle{
        display: flex;
    }
    nav ul{
       position: absolute;
       right: 0;
       top: 0;
       height: 100vh;
       width: 80%;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       background-color: whitesmoke;

       z-index: -1;
       transform: translateX(100%);
       transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0%);
        z-index: 1;
    }
    /* NavBar Ends */

    /* Headline */
    .headline{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 28%;
        left: 23%;
    
    }
    .headline h1{
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        
        text-align: left;
        font-size: 20px;
    }
    .headline-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 35%;
        left: 35%;
    }
    .headline-content p{
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 6px;
        text-align: left;
    }

    .headline-content::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 30px;
        width: 30%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-out;
      }
    
    /* Headline Ends */

    /* Background img */
    .background-beranda{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50%;
        background-image: url(img/kevin-zhang-dzFB8xeWg1M-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    /* Background Img Ends */
}
