*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    height: 100vh;
    width: 100%;
    background-image: url(img/kevin-zhang-dzFB8xeWg1M-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.Logo{
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
}
span{
    color: red;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:red;
    transition: 0.5s;
}






@media only screen and (max-width: 768px){
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 0 10px;

    }
}